<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <rlcarriers>
                <enable>0</enable>
                <active>0</active>
                <title>R+L Carriers</title>
                <name>R+L Carriers</name>
                <shipping_cost>10</shipping_cost>
                <sallowspecific>0</sallowspecific>
                <sort_order>15</sort_order>
                <model>HHsolution\Rlcarriers\Model\Carrier\Rlcarriers</model>
                <specificerrmsg>This shipping method is for RL carrier 1.0.1.</specificerrmsg>
            </rlcarriers>
        </carriers>
    </default>
</config>